useDynLib("Rsymphony", .registration = TRUE)

export("Rsymphony_solve_LP")

S3method("make_csc_matrix", "matrix")
S3method("make_csc_matrix", "simple_triplet_matrix")
S3method("make_csc_matrix", "dgCMatrix")
S3method("make_csc_matrix", "dgTMatrix")
S3method("make_csc_matrix", "dgRMatrix")
S3method("make_csc_matrix", "matrix.csc")
S3method("make_csc_matrix", "matrix.coo")
S3method("make_csc_matrix", "matrix.csr")
